<!doctype html>
<html lang="en">
<head>
    <title>GP&E Beacon Display</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="app">
        <div id="menu"
             class="form-check"
             v-for="layer in layers"
             :key="layer.id">
            <label class="form-check-label">
                <input
                        class="form-check-input"
                        type="checkbox"
                        v-model="layer.active"
                        @change="layerChanged(layer.id, layer.active)"
                />
                {{ layer.name }}
            </label>
        </div>
        <div id="map" class="map"></div>
    </div>
    <script src="static/vue-2.5.16/dist/vue.js"></script>
    <script src="static/leaflet/dist/leaflet.js"></script>
    <script src="app.js"></script>
</body>
</html>
