<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>GP&E Beacon Display</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="leaflet/dist/leaflet.marker.highlight/index.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="normalize.css">
    <script src="vue-2.5.16/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <div id="menu">
            <table id="menuTable">
                <tr>
                    <th v-for="header in menu.headers"
                        :key="header">{{header}}</th>
                </tr>
                <tr v-for="(beacon, index) in beacons"
                    v-bind:class = "{selected : beacon.selected, inactive : !beacon.active}"
                    v-on:click.stop ="beaconSelectedChanged(beacon.id)"
                    v-bind:key="beacon.id" >
                    <td>
                        <input
                            type="checkbox"
                            v-model="beacon.active"
                            @change="beaconActiveChanged(beacon.id)"
                            v-on:click.stop=""
                        />
                    </td>
                    <td>{{beacon.id}}</td>
                    <td>
                        <svg height="10" width="10">
                            <circle cx="5" cy="5" r="4" stroke="black" stroke-width="1" fill="red" ></circle>
                        </svg>
                    </td>
                    <td>
                        <input
                            ref="beaconName"
                            v-model=beacon.name
                            @change="beaconNameChanged(beacon.id)"
                            @keyup.enter="nextName(index)"
                        >
                    </td>
                    <td>{{beacon.heading}}</td>
                </tr>
            </table>
        </div>
        <div id="map" class="map"></div>
    </div>

    <script src="leaflet/dist/leaflet.js"></script>
    <script src="leaflet/dist/leaflet.marker.highlight/index.js"></script>
    <script src="leaflet/dist/leaflet.rotatedMarker.js"></script>
    <script src="app.js"></script>
</body>
</html>
