<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>GP&E Beacon Display</title>
    <meta charset="utf-8">
    <meta label="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="leaflet/dist/leaflet.marker.highlight/index.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="normalize.css">
    <script src="vue-2.5.16/dist/vue.js"></script>
    <script src="vue-resource-1.5.1/vue-resource.js"></script>
    <script src="lodash-4.17.10/lodash.js"></script>

</head>
<body>
    <div id="app">
        <div id="menu">
            <table id="menuTable">
                <tr>
                    <th v-for="header in menu.headers"
                        :key="header">{{header}}</th>
                </tr>
                <tr v-for="(beacon, index) in beacons"
                    v-bind:class = "{selected : beacon.selected, inactive : !beacon.active}"
                    v-on:click.stop ="beaconSelectedChanged(beacon.id)"
                    v-bind:key="beacon.id" >
                    <td>
                        <input
                            type="checkbox"
                            v-model="beacon.active"
                            v-on:change="beaconActiveChanged(beacon.id)"
                            v-on:click.stop=""
                        />
                    </td>
                    <td>{{beacon.id}}</td>
                    <td >
                        <div v-bind:class="beacon.status"
                             class="tooltip">
                            <span class="tooltiptext">{{beacon.elapseTime}}</span>
                        </div>
                    </td>
                    <td>
                        <input type="radio"
                            name="`beaconlabel:${beacon.id}`"
                            v-bind:checked="beacon.label === 'driver'"
                            v-on:change="beaconLabelChanged(beacon.id, 'driver')">
                        <input
                            ref="driverName"
                            v-model=beacon.driver
                            v-on:keyup.enter="nextLabel(index)"
                            v-on:input="beaconDriverChanged(beacon.id)"
                            v-bind:class = "{labelHighlight : beacon.label === 'driver'}">
                    </td>
                    <td>
                        <input type="radio"
                               v-bind:name="`beaconlabel:${beacon.id}`"
                               v-bind:checked="beacon.label === 'rider'"
                               v-on:change="beaconLabelChanged(beacon.id, 'rider')">
                        <input
                            ref="riderName"
                            v-model=beacon.rider
                            v-on:keyup.enter="nextLabel(index)"
                            v-on:input="beaconRiderChanged(beacon.id)"
                            v-bind:class = "{labelHighlight : beacon.label === 'rider'}">
                    </td>
                    <td>{{beacon.heading}}</td>
                </tr>
            </table>
        </div>
        <div id="map" class="map"></div>
    </div>

    <script src="leaflet/dist/leaflet.js"></script>
    <script src="leaflet/dist/leaflet.marker.highlight/index.js"></script>
    <script src="leaflet/dist/leaflet.rotatedMarker.js"></script>
    <script src="constants.js"></script>
    <script src="app.js"></script>
</body>
</html>
