html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#menu {
    height: auto;
    width: auto;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #f0f0f0;
    z-index: 9998;
    padding: 20px;
    opacity: 0.75;
}

#menuTable {
    text-align: center;
    padding: 20px;
    width: 100%;
    border-collapse:collapse;
}

.circle-grey {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: grey;
    margin: auto;
    border: .5px solid;
}

.circle-red {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    margin: auto;
    border: .5px solid;
}

.circle-yellow {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: yellow;
    margin: auto;
    border: .5px solid;
}

.circle-green {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: green;
    margin: auto;
    border: .5px solid;
}

.selected {
    background-color: #3388ff;
    border-radius: 5px;
}

.inactive {
    color: #999999;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #555;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.labelHighlight {
    border: 1px solid #3A7734;
}

/*leaflet-marker-icon leaflet-zoom-animated leaflet-interactive selectedMarker*/

.leaflet-marker-icon {
    width: 300px;
    height: 300px;
}

.leaflet-marker-icon.selectedMarker {
    background-color: rgba(0, 0, 255, 0.3);
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: 2px solid #666;
}